@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom utility classes */
@layer utilities {
  .btn-primary {
    @apply bg-gradient-to-r from-[#00B4F1] to-[#0077C8] text-white;
  }
  
  .btn-primary-disabled {
    @apply bg-gradient-to-r from-[#00B4F1] to-[#0077C8] text-white opacity-50 cursor-not-allowed;
  }
  
  .btn-primary-hover {
    @apply bg-gradient-to-r from-[#00B4F1] to-[#0077C8] text-white hover:shadow-md;
  }
}